.pagina-landpage {
    .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #D60000;
    }

    .secao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0px;

        .card {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            height: 500px;
            width: 80%;
            border-radius: 15px;
            box-shadow: 1px 1px 10px rgb(117, 117, 117);
            padding: 0px 45px;
            background-color: #F5F5F5;

            .foto {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 80px;
                padding: 20px 0px;

                .cardFotos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 20px 0px 0px 0px;
                    background-color: #D60000;
                    border-radius: 15px;
                    height: 300px;
                    width: 400px;
                }

                .fotoPrincipal {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    height: 250px;
                    width: 350px;
                    border-radius: 13px;
                    background-color: #F5F5F5;
                }

                .fotoSecundaria {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    height: 100px;
                    width: 87%;
                    margin-top: 10px;
                    margin-bottom: 10px;

                    > div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        height: 60px;
                        width: 60px;
                        margin-right: 15px;
                        border-radius: 13px;
                        background-color: #F5F5F5;

                        > img {
                            height: 30px;
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
}